# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/vendor/

# Go build output
/bin/
/dist/

# Node.js / React specific
node_modules/
/frontend/node_modules
/frontend/build
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/.next/
/frontend/out/

# IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.eslintcache
.tsbuildinfo 